* {
  margin: 0;
}

.content {
  margin-top: 1, 5%;
}

.wrapper {
  width: 80%;
  margin: auto;
}

header img {
  width: 7%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  margin-left: 7%;
  position: relative;
  top: 1rem;
}

section h2 {
  margin-bottom: 2%;
}

nav {
  clear: both;
}

nav ul {
  margin-top: 4%;
}

section {
  margin-top: 2%;
}

footer {
  margin: 3%;
  text-align: center;
}

section p {
  margin-top: 2%;
}

h2 {
  color: white;
}

body {
  background-color: #000;
}

p {
  color: white;
}

fieldset {
  color: white;
}

label {
  color: white;
}

table {
  margin: 30px;
}

.kepala {
  background-color: aqua;
}

.badan {
  background-color: rgb(248, 150, 170);
}

#kepala {
  background-color: chartreuse;
}

#badan {
  background-color: lightblue;
}

a {
  text-decoration: none;
}

ul {
  background: #7de19b;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: black;
  background: #7de19b;
  display: inline-block;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: o, 5;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: cyan;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #7de19b;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  margin-top: 1rem;
  position: absolute;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul il ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 63%;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: #000;
  }
}
